/* 

.

*/

.pageHeader {
  display: flex;
  align-items: center;

  .headerFrom {
    margin: 0;
    padding: 0;

    font-size: 16px;
    font-weight: 500;
  }

  .headerText {
    margin: 0;
    padding: 0;

    font-size: 22px;

    margin-right: 1.5rem;

    @media screen and (max-width: 600px) {
      font-size: 20px;
    }
  }

  .line {
    height: 2px;
    width: max-content;
    flex: 1;
    background: black;
  }
  @media screen and (max-width: 600px) {
    flex-direction: column;
    align-items: initial;
  }
}

.projects {
  min-height: 80vh;
  margin: 0;
  margin-top: 2rem;

  @media screen and (max-width: 1024px) {
    min-height: 70vh;
    margin-bottom: 4rem;
  }
  @media screen and (max-width: 600px) {
    min-height: 80vh;
    margin-bottom: 4rem;
  }
}

.projectsContent {
  margin: 0;
  padding: 4rem 0;
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 1024px) {
    padding-bottom: 0;
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    padding: 2rem 0;
    margin: auto;
    padding-bottom: 0;
  }
}

.project {
  width: 500px;
  margin-bottom: 1rem;
  flex: 1;

  .projectCover {
    width: inherit;
    height: 150px;
    background: gold;
  }

  .projectName {
    padding: 0;
    margin: 0.25rem 0;
    font-size: 20px;
  }

  .projectAction {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  @media screen and (max-width: 1024px) {
    margin-bottom: 1rem;

    .projectCover {
      width: 250px;
      height: 250px;
      background: gold;
    }
  }
  @media screen and (max-width: 768px) {
    .projectCover {
      width: inherit;
      height: 200px;
      background: gold;
    }
  }
  @media screen and (max-width: 600px) {
    width: inherit;
    &:last-child {
      margin-bottom: 0;
    }

    .projectCover {
      width: inherit;
      height: 250px;
      background: gold;
    }
  }
}

.projectsAction {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1024px) {
    height: 5vh;
  }
  @media screen and (max-width: 600px) {
    justify-content: flex-start;
  }
}
