/* 

.

*/
.footer {
  height: 20vh;
  background: black;

  @media screen and (max-width: 1024px) {
    height: 15vh;
  }

  @media screen and (max-width: 600px) {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    .footerText {
      display: none;
    }
  }
}

.innerFooter {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;

  .line {
    height: 2px;
    flex: 1;
    background: white;
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    height: 15vh;

    .line {
      flex: none;
      height: 2px;
      width: 100%;
      background: white;
    }
  }
}

.socialLinks,
.navLinks {
  flex: 0.25;
  width: max-content;
  display: flex;
  align-items: center;
  * {
    color: white;
    text-decoration: none;
  }

  @media screen and (max-width: 600px) {
    justify-content: center;
    flex: auto;
  }
}

.socialLink {
  font-size: 18px;
  @media screen and (max-width: 600px) {
    margin: 0 1rem;
    font-size: 26px;
  }
  @media screen and (max-width: 320px) {
    margin: 0 1rem;
    font-size: 22px;
  }
}

.navLink {
  font-size: 16px;

  *:hover {
    text-decoration: underline;
  }
  @media screen and (max-width: 600px) {
    margin: 0 1.25rem;
    font-size: 16px;
  }
}

.socialLink,
.navLink {
  margin: 0 0.5rem;

  a {
    margin: 0;
    height: max-content;
  }
}
