*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

h3 {
  font-weight: 400 !important;
}

body {
  font-family: "poppins" !important;
}

header {
  height: 10vh;
}

.navContainer {
  width: 75vw;
  margin: auto;
  @media screen and (max-width: 1024px) {
    width: 80vw;
  }
  @media screen and (max-width: 768px) {
    width: 85vw;
  }
  @media screen and (max-width: 600px) {
    width: 100vw;
    padding: 0 1.5rem;
  }
}

.container {
  width: 60vw;
  margin: auto;

  @media screen and (max-width: 1024px) {
    width: 75vw;
  }
  @media screen and (max-width: 768px) {
    width: 80vw;
  }
  @media screen and (max-width: 600px) {
    width: inherit;
    padding: 0 1.5rem;
  }
}

.normalText {
  font-size: 20px;
}

.blackText {
  font-weight: 800;
}

.sectionHeader {
  // display: flex;
  align-items: center;
  justify-content: center;

  .headerText {
    margin: 0;
    padding: 0;

    font-size: 25px;
    //text-transform: uppercase;

    &:nth-child(even) {
      margin-left: 1rem;
    }
    &:nth-child(odd) {
      margin-right: 1.5rem;
    }

    @media screen and (max-width: 600px) {
      font-size: 25px;
    }
  }

  .line {
    height: 2px;
    width: max-content;
    flex: 1;
    background: black;
  }
}

.btn {
  padding: 0.25rem 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 2.5px solid black;
  cursor: pointer;
  background: rgba(128, 128, 128, 0.25);
  opacity: 0.7;
  &:hover {
    background: white;
    opacity: 1;
  }
}
